.reference {
  :global(.api-content) > div:first-child h1 {
    display: none;
  }

  :global(.api-content) > div:first-child span {
    display: none;
  }

  :global(.redoc-json code) {
    color: white;
    background-color: #10171a;
  }

  table tr {
    border: none;
  }

  table th,
  table td {
    border: unset;
    background-color: white;
  }

  :global(.redoc-markdown) {
    p {
      margin-bottom: 1em;
    }
    ul {
      margin-bottom: 1em;
      list-style: disc;

      li {
        margin: 0 !important;
      }
    }
  }

  :global(.menu-content) {
    padding-top: 1em;
    font-size: 16px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
      "Noto Sans", sans-serif, system-ui, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: white !important;
    border-right: 1px solid #ddd;

    label {
      margin: 0.25em 1em;
      padding: 0.5em 1em;
      border-radius: 0.3em;

      &:hover {
        background-color: #f1f2f1;
      }

      &:global(.active) {
        font-weight: 500;
        background-color: #f1f2f1;
      }
    }
  }

  [type="get"],
  [type="post"],
  [type="put"],
  [type="patch"],
  [type="delete"],
  [type="options"] {
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    position: relative;
    top: 1px;
  }

  [data-section-id] {
    [type="get"],
    [type="post"],
    [type="put"],
    [type="patch"],
    [type="delete"],
    [type="options"] {
      height: 2em;
      line-height: 1.8em;
      left: -0.5em;
    }
  }

  [type="get"] {
    background-color: #d0fae5 !important;
    color: #134e3a;
  }

  [type="post"] {
    background-color: #eef6fe !important;
    color: #1e3a8a;
  }

  [type="put"],
  [type="patch"] {
    background-color: #f5f3ff !important;
    color: #4c1d95;
  }

  [type="delete"] {
    background-color: #fef2f2 !important;
    color: #7f1d1d;
  }
}

.loader {
  display: block;
  text-align: center;
  margin: 3em 0;
}
