@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");

:root {
  --ifm-color-primary: #697ad8;
  --ifm-color-primary-dark: #5063d1;
  --ifm-color-primary-darker: #4358ce;
  --ifm-color-primary-darkest: #2e43b2;
  --ifm-color-primary-light: #8291df;
  --ifm-color-primary-lighter: #8f9ce2;
  --ifm-color-primary-lightest: #b5beec;
  --ifm-code-font-size: 0.95em;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  @apply h-20 bg-white;
  box-shadow: none;
}

.navbar__inner {
  @apply container mx-auto h-10 bg-white py-5;
}

.navbar__item {
  @apply text-primary-600 hover:no-underline ml-2;
}

.navbar__link--active {
  @apply lg:border-b-2 lg:border-primary-600;
}

.navbar__item__button {
  @apply rounded lg:bg-white lg:border lg:border-primary-600 text-primary-600 lg:ml-6 lg:mr-4 lg:hover:no-underline lg:hover:text-white lg:hover:bg-primary-800;
}

.navbar__brand img {
  @apply ml-4 mr-6;
}

.footer {
  @apply bg-white border-t-2 border-gray-50 mt-20 mb-5;
}

.footer__col {
  @apply mt-3 h-40;
}

.footer__title {
  @apply text-primary-700 font-bold text-lg mb-5;
}

.footer__bottom {
  @apply font-sans text-gray-400 text-left mt-8;
}

p code {
  @apply whitespace-nowrap;
}

.main-wrapper {
  @apply container mx-auto;
}

main {
  @apply lg:mx-5;
}

.markdown {
  @apply max-w-4xl;
}

.markdown ul {
  @apply list-outside list-disc ml-5;
}

.markdown h2 {
  @apply text-2xl font-bold;
}

.markdown h3 {
  @apply text-xl font-semibold;
}

.markdown a {
  @apply text-green-900 underline;
}

.alert--info {
  @apply bg-blue-50 text-gray-900 border-0 relative;
}

.alert--info a {
  @apply text-blue-900;
}

.alert--info svg,
.alert--secondary svg {
  @apply fill-current opacity-60 h-5 relative bottom-1 mr-1;
}

.alert--info h5,
.alert--secondary h5 {
  @apply relative right-1;
}

.alert--secondary {
  @apply bg-gray-100 text-gray-900 border-0 relative;
}

.alert--secondary a {
  @apply text-gray-900;
}

a[href^="https://github.com/gr4vy/gr4vy-developer-documentation/edit"]
{
  @apply border rounded px-3 py-2 border-gray-100 border-dashed bg-gray-50 text-xs hover:no-underline hover:bg-gray-100 hover:text-gray-900 float-right;
}

a[href^="https://github.com/gr4vy/gr4vy-developer-documentation/edit"] svg
{
  @apply inline;
}

*[data-section-id] {
  @apply mb-10;
}

*[data-section-id]:after {
  @apply border-0 !important;
}

a.pagination-nav__link {
  @apply rounded border-gray-200;
}
